@import "antd/dist/antd.css";

.ant-layout-header {
  background: #a8a8b3;
}
.logo {
  text-align: left;
}
.criarChamado {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 60px;
  width: 180px;
  padding: 10px;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
