@import "antd/dist/antd.css";

.ant-layout-content {
  background: #fefeff;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: stretch;
  align-content: stretch;
}

#Marca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 200px 150px;
}
.logo {
  font: 700 36px;
  font-size: xx-large;
}
#separator {
  height: 100%;
  border-left: solid;
  margin-top: 100px;
}
#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;
  margin: 200px 150px;
  justify-content: center;
}
label {
  display: block;
  text-align: left;
}
.Acesso {
  margin-bottom: 50px;
}
input {
  display: block;
  width: 100%;
}
.entrar {
  margin-top: 20px;
  width: 100%;
}
#passForget {
  margin-top: 20px;
}
